.startowa{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    height: 70vh;
}
.btnStart{
width: 20vh;
height: 10vh;
background-color: blueviolet;
border: 1px solid blueviolet;
border-radius: 5px;
padding: 10px;
color: white;
font-weight: bold;
transition: transform 0.6s ease-in-out;
}
.btnStart:hover{
background-color: darkmagenta;
cursor: pointer;
font-weight: bold;
transform: rotate(360deg) scale(1.3);
}