.home{
    margin: 20px;
}

.billWhite{
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    width: 550px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}