.hamburger{
/* background: #3b3939; */
position: sticky;
top: 0;
}
.hsrodek{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.naglowek{
    margin: 0;
    font-size: 25;
}
.btn{
    background: transparent;
    border: none;
    width: fit-content;
}
.btnmore{
    font-size: 90;
    color: black;
    position: absolute;
    top: 20;
    right: 100;    
}